/********************Layout********************/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
}

.navbar {
    border-radius: 0px;
}

.footer {
    background-color: #2196f3;
    border-radius: 0px;
    height: 80px;
    bottom: 0;
    width: 100%;
    clear: both;
}

.footer ul { 
    word-spacing: 10px;
    margin-top: 10px;
}

.footer-links li {
    display: inline;
    list-style-type: none;
}

.footer a:link {color: white;}
.footer a:visited {color: white;}
.footer a:hover {color: white;}

footer p {
    text-align:center;
    color: white;
}

/********************Search 'Home' Page (without sign-in)********************/
.hp-form {
    width: 50%;
    margin: auto;
    position: relative;
    top: 200px;
}

.hp-form label {
    color: white;
}

.hp-form input {
    color:white;
}

.styled-select select {
    background-color: white;
    height: 40px;
    width: 150px;
    padding: 5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-color: white; 
    background-size: 25px auto; 
}

.styled-select select:focus, select.form-control:focus {
    box-shadow: 0 0 0 white;
    border-style: solid;
    border-width: 0.2px;
    border-color: #2196f3;
}

.home-main-content {
    height: 530px;
    margin-top: -25px;
    margin-bottom: -10px;
    background-image: url("../images/home_image.jpg");
    width: 100%;
    background-size: 100% 110%;
}

/******************** Home Page (after sign-in)********************/
.home-message {
    color: red;
    margin: auto;
    width: 150px;
    height: 25px;
    display: none;
}

.save-todo {
    float:right;
    margin : 50px 240px 50px;

}


.keno {
    height: 100px;
}

.delete {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
    cursor: hand;
    cursor: pointer;
}


#completed {
    width: 780px;
    margin-left: 270px;
    clear: left;
    margin-top: 30px;
    
}

.todo-head {
    width: 780px;
    margin-left: 100px;
    float: left;
}

.todo-btn {
    margin-left: 30px;
    float: left;
}

.done {
    border-color:white;
}

.a-task {
    border-style: solid;
    width: 780px;
    border-width: 0.5px;
    border-color: cyan;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    list-style: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    margin-left: -40px;
}

.b-task {
    border-style: solid;
    width: 780px;
    border-width: 0.5px;
    border-color: cyan;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    list-style: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    margin-left: -40px;
}

.to-do-list {
    margin-top: 70px;
}



.push-home-page {
    min-height: 470px;
}

.home-icon {
    width: 70px;
}

.home-icon-1, .home-icon-2, .home-icon-3 {
    float: left;
    margin: 2em;
} 

.home-icons {
    width: 780px;
    height: 100px;
    margin: auto;
}

.delete-list-icon {
    width: 25px;
}





/********************Login page********************/

.push-login-page {
    min-height: 450px;
}

.login-form {
    margin-top: 5%;
}

.login-btn {
    text-transform: lowercase;
}

.login-btn::first-letter {
    text-transform: uppercase;
}

/********************Send Password page********************/

.send-password-page {
    margin-top: 5%;
}

.push-send-password {
    min-height: 450px;
}

/********************Register page********************/

.push-register-page {
    min-height: 450px;
}

.register-form {
    margin-top: 5%;
}


/********************Contact page********************/

.push-contact-page {
    min-height: 450px;
}

.contact-form {
    width: 50%;
    margin:auto;
    margin-top: 5%;
}


/********************Freelancers list page********************/
.freelancers-search-form {
    width: 50%;
    margin:auto;
}

.freelancer-page-title {
    font-size:200%;
    margin-left:20px;
}

.freelancer-short-profile {
    height:135px;
    width:800px;
    margin: auto;
    background-color: cyan;
    padding:10px;
    margin-top:10px;
}

.freelancer-short-avatar {
    width:13%;
    float:left;
}

.free-list {
    height: 100px;
    width: 100px;
}

.freelancer-short-price-contact {
    float:right;
    width:15%;
    height:120px;
}

.freelancer-short-info {
    width:65%;
    float:left;
    margin-left:20px;
}

.freelancer-short-glyphicons .space {
    margin-right:10px;
}

.freelancers-short-main {
    margin-top:50px;
}

.freelancers-push {
    min-height: 500px;
}


/********************Jobs list page********************/

.tasks-search3 {
    margin-left: 250px;
    margin-top: 25px;
}

.jobs-search-form {
    width: 50%;
    margin:auto;
}

.jobs-page-title {
    font-size:200%;
    margin-left:20px;
}

.jobs-short-main {
    margin-top:50px;
}

.jobs-short-profile {
    height:190px;
    width:800px;
    margin: auto;
    background-color: cyan;
    padding:10px;
    margin-top:10px;
}

.jobs-short-avatar {
    width:13%;
    float:left;
}

.jobs-short-info {
    width:65%;
    float:left;
    margin-left:20px;
}

.jobs-short-glyphicons .space {
    margin-right:10px;
}

.jobs-short-price-contact {
    float:right;
    width:15%;
    height:120px;
}

.push-jobs {
    min-height: 500px;
}


/********************Tasks list page********************/
.tasks-search2 {
    margin-left: 240px;
    margin-top: 25px;
}

.text-core {
    float: left;
}

.tasks-page-title {
    font-size:200%;
    margin-left:20px;
}

.tasks-search-form {
    width: 50%;
    margin:auto;
}

.tasks-short-main {
    margin-top:50px;
}

.tasks-short-profile {
    min-height:170px;
    width:800px;
    margin: auto;
    background-color: cyan;
    padding:10px;
    margin-top:10px;
}

.task-owner-avatar {
    width: 110px;
    height: 105px;
    margin-top: 15px;
}

.task-keno {
    height: 100px;
}

.tasks-short-avatar {
    width:13%;
    float:left;
}

.tasks-short-info {
    width:65%;
    float:left;
    margin-left:20px;
}

.tasks-short-glyphicons .space {
    margin-right:10px;
}

.tasks-short-price-contact {
    float:right;
    width:15%;
    height:120px;
    margin-top: 10px;
}

.push-tasks {
    min-height: 500px;
}

.push-task2 {
    margin-bottom: 100px;
}

.ep {
    float: left;
    clear: left;
}

.offer_user_id {
    opacity: 0;
}


/********************Task main page********************/

.task_desc {
    text-align: justify;
}

.tBudget {
    font-size: 15px;
}

.push-task {
    min-height: 500px;
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

.task-description-main {
    border-style: solid;
    border-width: 1px;
    border-color: cyan;
    border-radius: 5px;
}

.task-description-header {
    background-color: cyan;
    height: 80px;
}

.task-description-body {
    margin: 20px;
}

.task-dates {
    float: right;
    background-color: white;
    width: 200px;
    height: 60px;
    margin: 10px;
    text-align:center;
    color: green;
    border-radius: 5px;
    box-shadow: 0 1px 1px #eee inset;
    font-size: 15px;
}

.task-bids-budget {
    float: left;
    background-color: white;
    width: 400px;
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px #eee inset;
}

.task-bids {
    width: 30%;
    text-align: center;
    float: left;
}

.task-average-bids {
    width: 30%;
    text-align: center;
    float: left;
}

.task-budget {
    width: 30%;
    text-align: center;
    float:left;
    margin-left: 10px;
}

.task-required-skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.task-required-skills li {
    float: left;
    display: inline;
}

.task-required-skills a {
    padding: 5px 5px;
}

.task-place-bid {
    float: right;
    margin: 50px 0px 50px 0px;
    clear:left;
}

.stars-rating {
    width: 80px;
    height: 20px;
}

.total-bids {
    float:left;
    clear:right;
}

.freelancer-bid {
    margin-top: 15px;
    clear: both;
    min-height: 150px;
    border-style: solid;
    border-color: cyan;
    border-width: 1px;
    border-radius: 5px;
}

.freelancer-bid-avatar-stars {
    width: 15%;
    min-height:150px;
    float:left;
}

.freelancer-bid-price {
    float:right;
    min-height: 150px;
    width:20%;
    text-align: center;
}

.freelancer-bid-comments {
    min-height: 150px;
    width:65%;
    float:left;
    margin-top: 15px;
}

.winner-bid-comments {
    min-height: 150px;
    width:65%;
    float:left;
    margin-top: 15px;
}

.winner-title {
    margin-top: 5px;
}

.freelancer-bid-avatar {
    width: 95px;
    height: 95px;
    margin:auto;
    margin-top: 25px;
}

.freelancer-bid-stars-rating {
    width: 80px;
    margin:auto;
}

.edit-task-btn {
    float: right;
}

/********************Freelancer profile page********************/

.rating-warning {
    color: red;
    margin: 3px;
    margin-left:5px;
}

#rateEmp {
    clear:both;
    margin: auto;
}


#rateFree {
    clear:both;
    margin: auto;
}

.employee-comment-section {
    display: none;
}

.freelancer-comment-section {
    display: initial;
}

.user-cat-com {
  width: 680px;
  margin-bottom: 10px;
}

.push-freelancer-profile {
    min-height: 500px;
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

.freelancer-description {
    float: left;
    background-color: white;
    width: 680px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.freelancer-description-header {
    float: left;
}

.freelancer-description-header img {
    float: left;
}

.desc-header-title {
    width: 680px;
}

.glyphicon-user {
    /*margin-left: 10px;*/
}

.description-just {
    text-align: justify;
}

.desc-skills {
    color: blue;
}

.desc-com {
    margin-top:-12px;
}

.freelancer-description-body {
    border-style: solid;
    border-width: 1px;
    border-color: cyan;
    border-radius: 5px;
    float: left;
    width: 680px;
    margin-top: 40px;
    padding: 20px;
}

.freelancer-description-header img {
    height: 100px;
    width: 100px;
    float:left;
    margin-right: 20px;
}

.freelancer-contact {
    float: right;
    background-color: cyan;
    width: 260px;
    /*height: 300px;*/
    border-radius: 5px;
    text-align: center;
    box-shadow: 7px 7px 5px #888888;
    padding-bottom: 20px;
}

#rateYo {
    float: right;
    margin-right: 10px;
}

.desc-port {
    text-align: justify;
}

.edit-desc-btn {
    float: right;
}

.com-desc-btn {
   
    width: 680px;
    float:left;
}

.com-btn {
    float: right;
}

.freelancer-contact img {
    height: 20px;
    margin: auto;
}

.freelancer-contact button {
    margin-top: 40px;
}

.freelancer-contact img {
    margin-top: 15px;
}

.freelancer-contact h4 {
    margin-top: 30px;
}

#freelancer-contact-header {
    height: 40px;
    width: 260px;
    background-color: #2196f3;
}

.freelancer-rating-section {
    float: left;
    clear: left;
    margin-bottom: 50px;
}

.freelancer-rating {
    width: 680px;
    float: left;
    border-style: solid;
    border-color: cyan;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.freelancer-rating-photo {
    height: 80px;
    width: 80px;
    float:left;
    margin-right: 20px;
}

.freelancer-rating-stars {
    width: 110px;
    height: 15px;
    float:right;
}

/********************Update profile page********************/
.push-update-profile {
    min-height: 500px;
    width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.update-profile-page {
    border-style: solid;
    border-color: cyan;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
}

.update-photo-category-section {
    width: 100%;
    height: 150px;
    
}

.update-user-category {
    width: 710px;
    height: 150px;
    float:right;
}

.user-category-radios {
    margin-top: 20px;
}

.update-name-section {
    width: 100%;
    margin-top: 40px;
    height: 100px;
}

.update-fname {
    width:450px;
    float: left;
}

.update-lname {
    width:450px;
    float: right;
}

.update-title-section {
    width: 100%;
    margin-top: 10px;
    height: 100px;
}

.update-rate-phone-section {
    width: 100%;
    margin-top: 10px;
    height: 100px;
}

.update-rate {
    width:450px;
    float: left;
}

.update-pnone {
    width:450px;
    float: right;
}

.update-euro-symbol {
    font-size: 20px;
}

.update-user-description-section {
    width: 100%;
}

.update-user-skills-section {
    width: 100%;
    margin-top: 40px;
}

.update-user-location {
    width: 100%;
    margin-top: 40px;
}

.update-user-button {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*avatar area*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload {
    margin-left: 45px;
}

.update-user-photo {
    width: 200px;
    height: 150px;
    float: left;
}

.default-user-img {
    width: 130px;
    height: 130px;
    margin-left: 40px;
    margin-top: 10px;
}

.update-portfolio-section {
    margin-top: 40px;
}

#addPortfolio {
    height        : 12px;
    width         : 12px;
    margin-left   : 5px;
    margin-bottom : 10px;
    cursor: pointer; cursor: hand; 
}

#removePortfolio {
    float         : right;
    cursor: pointer; cursor: hand; 
}

/*Skills area*/
#textarea {
    width: 920px;
}

.text-button {
    height: 29px !important;
}

.text-label {
    font-size: 15px;
}

/********************Job description page********************/

.job-just {
    text-align: justify;
}

.push-job-description {
    min-height: 500px;
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

.job-description-body {
    width: 960px;
    border-style: solid;
    border-color: cyan;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 100px;
}

.job-description-labels {
    color: #FF00FF;
    font-weight: bold;
}

/******************  404 page **************************/
.message-1 {
  font-size: 50px;
}

.message-2 {
  font-size: 30px;
}

/********************  Create Task Page  ********************/

.push-create-task-page {
    min-height: 500px;
}

.create-task-title {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
}


/********************  Create Job Page  ********************/

.push-create-job-page {
    min-height: 500px;
}

.aggelia-create {
    width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


/********************  My Lists  ********************/







            

           

            